<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate" version="1.3.0.733" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.7" targetFramework="net45" />
  <package id="NHibernate" version="3.3.1.4000" targetFramework="net45" />
  <package id="Ninject" version="2.2.1.4" targetFramework="net45" />
  <package id="SignalR.Hosting.Common" version="0.5.2" targetFramework="net45" />
  <package id="SignalR.Hosting.Self" version="0.5.2" targetFramework="net45" />
  <package id="SignalR.Ninject" version="0.5.0" targetFramework="net45" />
  <package id="SignalR.Server" version="0.5.2" targetFramework="net45" />
</packages>