<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings> 
    <add name="testing" connectionString="Server=ERIK-WS;Database=Controll-tests;Trusted_Connection=True;MultipleActiveResultSets=true;"/>
    <add name="mocked" connectionString="Server=ERIK-WS;Database=Controll;Trusted_Connection=True;MultipleActiveResultSets=true;"/>
  </connectionStrings>
</configuration>