<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="1.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.1.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="1.1.0-beta1-20522-319" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="1.1.0-beta1-20522-319" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="1.1.0-beta1-20522-319" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>